*{
    font-family:'Times New Roman', Times, serif;
    font-style:oblique;
    font-size: large;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.gallery{
    margin:0;
    padding-left: 7px;
    width: 100vw;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10;
}

.search-form{
    width: 100vw;
    position: fixed;
    background-color: aqua;
    padding-top: 15;
    padding-bottom: 15;
    display: flex;
    justify-content: center;
    margin-bottom: 18;
}

.submit{
    background-color: cyan;
    font-style: normal;
}

input{
height: 26;
width: 210;
font-size: medium;
border: none;
font-style:normal;
}

input:focus{
    outline: 0;
}

.sbm-btn{
    display: flex;
    justify-content: center;
}

.load-more{
    color: white;
    background-color: blue;
    height: 40px;
    width: 180px;
    font-style: normal;
}

.photo-card{

}

.info{
    display: flex;
    gap: 8px;
}