* {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    padding: 10px 10px;
    width: calc(100% - 20px);
    display: grid;
    grid: auto-flow / repeat(3, 1fr);
    gap: 10px;
}

.search-form {
    width: 100%;
    position: sticky;
    z-index: 1;
    background-color: aqua;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.submit {
    background-color: cyan;
    font-style: normal;
}

input {
    height: 26px;
    width: 210px;
    font-size: medium;
    border: none;
}

input:focus {
    outline: 0;
}

.load-more {
    color: white;
    background-color: blue;
    height: 40px;
    width: 180px;
    font-style: normal;
}

.photo-card {
    display: flex;
    flex-direction: column;
}

.photo-card img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

.info {
    display: flex;
    flex: 1 0;
    gap: 8px;
}